#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

.todo_title {
    width: 85%;
    font-size: 14pt;
    font-weight: bold;
    display:block;
    float:left;
    cursor: pointer;
}

.trash {
    cursor: pointer;
}

.done {
    color: #198f35;
}

.pending {
    color: #b21e1e;
}

.btn {
    padding:7px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: transparent;
}


.excel_download {
    color: #209e61b9;
}

.json_download {
    color: #c2af07b7;
}


select {
        padding:7px;
        border-radius: 4px;
}

.pending_filter_btn {
    padding: 4px;
    background-color: transparent;
}

select,
.btn,
.btn label,
.btn input {
    cursor: pointer;
}

.pending_filter_btn:checked {
    background-color: #198f35!important;
}


.filtered {
    background-color: #5c76ad;
    color: white;
}

.pages_list {
    display: flex;
    justify-content: center;
    list-style-type: none;    
}

.pages_list a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pages_list a.active {
    background-color: #2185D0;
    color: white;
}

.pages_list a:hover:not(.active) {
    background-color: #ddd;
}